<div style="padding-top: 10%; text-align: center; background-color: white;">
    <h1>ERROR :( </h1>
    <p>The page you are looking do not found</p>
    <p><a href="/">Return to the home</a></p>
</div>