<div class="container" style="padding-top:60px">
  <div class="row">
    <section class="main col-md-9">
      <article>
      <h2>About</h2>
     <p>
         HI, I am shreya, I am the student of Honours Bachelor of technology - Software Development. I have created this beautiful webpage according to the 
         instructions provided by the professor. It was fun working on this assignment. Thank you!
    </p>
      </article>
    </section>
    <aside class="col-md-3">
      <h2>See u soon!</h2>
      <p>Stay connected..</p>
    </aside>
  </div>
</div>
